<!-- Define element -->

<link href="../polymer/polymer.html" rel="import">

<polymer-element name="contact-form">
    <template>
      <div>
        <input type="text" placeholder="Name">
      </div>
      <div>
        <input type="text" placeholder="Email">
      </div>
      <div>
        <textarea placeholder="Message"></textarea>
      </div>
      <div>
        <button>Submit</button>
      </div>
    </template>
    <script>
      Polymer('contact-form');
    </script>
</polymer-element>